node_modules
.env
coverage
coverage.json
typechain

# editor specific files
.idea
tags

# yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Hardhat files
cache
artifacts
.log

# OpenZeppelin files since the OZ plugin
# is only used in tests
.openzeppelin
