[submodule "contracts/openzeppelin"]
	path = contracts/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "contracts/toucan-contracts"]
	path = contracts/toucan-contracts
	url = https://github.com/ToucanProtocol/contracts.git
	branch = main
